@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500&display=swap');

/* Manage all styles here */
body{
    height: 380px;
    width: 300px;
}

*{
    margin: 0;
    padding: 0;
    font-family: 'Ubuntu', sans-serif;
    font-weight: 400;
}

header{
    border-radius: 4px;
    height: 3rem;
    font-size: 1.1rem;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 0 0.5rem;
    width: 100%;
    background-color: whitesmoke;
}

#main{
    width: 300px;
    display: flex;
    flex-direction: column;
    margin-top: 1rem;
    align-items: center;
}

#mainContainer{
    display: grid;
    grid-template-columns: 4fr 6fr;
    padding: 0.5rem 0.2rem 0;
}

#sideBarOn{
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    width: 70%;
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    box-shadow: inset 0 0 0px 200px rgb(255 255 255 / 8%);
}

#sideBarOff{
    height: 0;
    width: 0;
    display: none;
}

.sideBar {
    transition: all 0.3s ease;
}

#side_bar_content {
    margin: 1rem;
    word-break: break-all;
}

.side_bar_content_row {
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 8px;
}

#left{
    display: flex;
    flex-direction: column;
    padding-right: 1rem;
    
}

#left button{
    height: 15vh;
    font-size: 1rem;
    background-color: white;
    cursor: pointer;
    color: gray;
    border: 1.5px solid gray;
    padding: 0rem 1rem;
    margin-left: 5px;
}

#left button:active{
    transition: all 0.2s ease;
    background-color: rgba(235, 234, 234, 0.798);
    color: black;
    border-color: rgba(235, 234, 234, 0.798);
}

#right{
    border: 1.5px solid gray;
    padding: 0.25rem;
    margin-right: 5px;
}

#colorDiv{
    background-color: rgb(255, 184, 53);
    height: 100%;
    width: 100%;
}

#bottom{
    margin: 0rem 1rem;
    border-radius: 4px;
    height: 4rem;
    display: grid;
    grid-template-columns: 9fr 1fr;
    padding: 0 1rem;
    width: 95%;
    margin: 5%;
}

.bottom_bar{
    border: 1.5px solid gray;
    height: 15vh;
    width: 95%;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
    color: gray;
}

#colorCode{
    border: 1.5px solid gray;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-size: .8rem;
    color: #6c6565;
}

.colorCodeChanger{
    border-bottom: 1.5px solid gray;
    border-top: 1.5px solid gray;
    border-right: 1.5px solid gray;
    text-align: center;
    display: grid;
}

.colorPaletteChanger {
    border-bottom: 1.5px solid gray;
    border-top: 1.5px solid gray;
    border-right: 1.5px solid gray;
    text-align: center;
    display: grid;
    grid-template-columns: 1fr 8fr 1fr;
}

.colorPaletteChanger button {
    color: gray;
    background: none;
    border: none;
    font-size: x-large;
    font-stretch: extra-expanded;
    font-family: monospace;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.colorPaletteChanger button:active{
    background-color: rgba(235, 234, 234, 0.798);
    color: black;
}

.colorCodeChanger button{
    transition: all 0.3s ease;
    color: gray;
    width: 4rem;
    background: none;
    border: none;
    font-size: x-large;
    font-stretch: extra-expanded;
    font-family: monospace;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 7px;
    cursor: pointer;
}

.colorCodeChanger button:active{
    background-color: rgba(235, 234, 234, 0.798);
    color: black;
}

.middle {
    transition: all 0.3s ease;
    display: grid;
    grid-auto-flow: column;
    margin-left: 12px;
    margin-right: 12px;
    overflow: auto;

}

.middle::-webkit-scrollbar {
    display: none;
}

.colorPalette {
    width: 30px;
    height: 30px;
    margin: 5px;
    border-radius: 4px;
}